# Properties
POSTGRES_DB=bancoPA
POSTGRES_USER=username_do_banco
POSTGRES_PASSWORD=senha_do_banco

# PostgreSQL
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/bancoPA
SPRING_DATASOURCE_USERNAME=username_para_acessar_banco
SPRING_DATASOURCE_PASSWORD=senha_para_acessar


# Redis
REQUIRE_PASSWORD_REDIS=redis-server --requirepass sua_senha_para_acessar
REDIS_PASSWORD=senha_de_acesso_redis

#JWT
JWT=minha-chave-jwt